svg(width = "340" height = "340" fill="none" xmlns = "http://www.w3.org/2000/svg")
  foreignObject(x = "0" y = "0" width = "340" height = "340")
    div(xmlns = "http://www.w3.org/1999/xhtml")
      style.
        #card {
          /* Animation stuff */
          opacity: 0;
          animation: appear 300ms ease-out forwards;

          /* Normal CSS stuff */
          margin-top: 10px !important;
          font-family:  sans-serif;
          position: relative;
          margin: auto;
          width: 300px;
          height: 300px;
          overflow: hidden;
          background-size: 300px;
          box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.6);
          border-radius: 10px;
        }

        #spotify_icon {
          fill: rgba(57, 58, 16, 0.87);
          position: absolute;
          right: 10px;
          top: 10px;
          width: 32px;
          height: 32px;
          transition: all .5s;
        }

        #spotify_icon:hover {
          fill: rgba(57, 58, 16, 1);
          transition: all .5s;
          transform: translateY(-2px);
        }

        #info {
          height: 90px;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background: rgba(255, 255, 255, 0.87);
          transition: all .5s;
        }

        #progress_bar {
          height: 5px;
          width: 73%;
          margin: 6% auto;
          background-color: #c0cfb2;
          border-radius: 10px;
        }

        #fill {
          background-color: #8ba989;
          height: 0.3rem;
          border-radius: 2px;
        }

        #artist {
          text-align: center;
          margin-top: -3px;
        }

        #current_time,
        #total_time {
          font-size: 10px;
          position: absolute;
          margin-top: -2px;
        }

        #current_time {
          left: 15px;
        }

        #total_time {
          right: 15px;
        }

        #artist_name,
        #song_name {
          text-transform: uppercase;
          margin: 0;
        }

        #song_name {
          font-size: 0.9em;
          letter-spacing: 1.6px;
          color: #49654d;
        }

        #artist_name {
          font-size: 0.75em;
          letter-spacing: 1.4px;
          margin-top: 5px;
          color: #8ba989;
        }

        @keyframes appear {
          from {
            opacity: 0;
            transform: scale(0.6);
          }
          to {
            opacity: 1;
            transform: scale(1);
          }
        }
      div(id = "card" style = "background-image: url(" + image_link + ");")
        div(id = "image_block")
          a(href = spotify_link)
            div(id = "spotify_icon")
              include ../public/images/spotify.svg
        div(id = "info")
          div(id = "progress_bar")
            div(id = "current_time") #{progress}
            div(id = "total_time") #{duration}
            div(id = "fill" style = "width: " + progress_percentage + "%;")
          div(id = "artist")
            h2(id = "song_name") #{title}
            h3(id = "artist_name") #{artist}