svg(width = "340" height = "340" fill="none" xmlns = "http://www.w3.org/2000/svg")
  foreignObject(x = "0" y = "0" width = "340" height = "340")
    div(xmlns = "http://www.w3.org/1999/xhtml")
      style.
        #card {
          /* Animation stuff */
          opacity: 0;
          animation: appear 300ms ease-out forwards;

          /* Normal CSS stuff */
          margin-top: 10px !important;
          font-family:  -apple-system, "BlinkMacSystemFont", "Segoe UI",  Helvetica, Arial, sans-serif;
          position: relative;
          margin: auto;
          width: 300px;
          height: 300px;
          overflow: hidden;
          background-size: 300px;
          box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
          border-radius: 13px;
        }

        #spotify_icon {
          fill: rgba(135, 163, 48, 0.9);
          position: absolute;
          right: 10px;
          top: 10px;
          width: 32px;
          height: 32px;
          transition: all .5s;
        }

        #spotify_icon:hover {
          fill: rgba(135, 163, 48, 1);
          transition: all .5s;
          transform: translateY(-2px);
        }

        #info {
          height: 100px;
          width: 92%;
          position: absolute;
          bottom: 4%;
          left: 4%;
          background: rgba(255, 255, 255, 0.7);
          backdrop-filter: blur(2px);
          -webkit-backdrop-filter: blur(2px);
          transition: all .5s;
          border-radius: 13px; 
        }

        .paused {
          animation-play-state: paused !important;
        }

        #progress_bar {
          height: 5px;
          width: 90%;
          margin: 4% auto;
          background-color: #e1e4e8;
          border-radius: 10px;
          position: relative;
          overflow: hidden;
        }

        #progress {
          background-color: #24292e;
          height: 5px;
          border-radius: 10px;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          transform-origin: left center;
        }

        #artist {
          text-align: center;
          margin-top: 14px;
        }
        
        #artist_name,
        #song_name {
          margin: 0;
        }

        #song_name {
          font-size: 1em;
          color: black;
        }

        #artist_name {
          font-size: 0.8em;
          margin-top: 1px;
          color: #24292e;
        }

        @keyframes appear {
          from {
            opacity: 0;
            transform: scale(0.6);
          }
          to {
            opacity: 1;
            transform: scale(1);
          }
        }

        @keyframes progress {
          from {
            transform: scaleX(0);
          }
          to {
            transform: scaleX(1);
          }
        }
      div(id = "card" style = "background-image: url(" + image_link + ");")
        div(id = "image_block")
          a(href = spotify_link)
            div(id = "spotify_icon")
              include ../public/images/spotify.svg
        div(id = "info")
          div(id = "artist")
            h2(id = "song_name") #{title}
            h3(id = "artist_name") #{artist}
          div(id = "progress_bar")
            div(id = "progress" style = "" + animation_delay + "" class = "" + paused + "")