svg(width = "341" height = "571" fill="none" xmlns = "http://www.w3.org/2000/svg")
  foreignObject(x = "0" y = "0" width = "341" height = "571")
    div(xmlns = "http://www.w3.org/1999/xhtml")
      style.

        #player {
          width: 341px;
          height: 571px;
          background-color: #14213D;
          border-radius: 67px;
          opacity: 0.8;
          position: relative;
        }

        #timeline {
          padding-top: 47px;
        }

        #timeline_base {
          width: 290px;
          height: 290px;
          margin: auto;
          margin-left: 23px;
          background-color: #E5E5E5;
          border-radius: 50%;
        }

        #tb_inner {
          background-color: #14213D;
          width: 284px;
          height: 284px;
          border-radius: 50%;
          position: absolute;
          top: 50px;
          left: 26px;
          z-index: 10;
        }

        #timeline_animated{
          width: 294px;
          height: 294px;
          margin: auto;
          padding-right: 5px;
        }

        #ta_left {
          background-color: #CCD5C3;
          width: 294px;
          height: 294px;
          opacity: 1;
          border-radius: 50%;
          position: absolute;
          clip: rect(294px, 147px, 294px, 0px); /*first param is Top - modify it*/
        }

        #ta_right {
          background-color: #CCD5C3;
          width: 294px;
          height: 294px;
          opacity: 1;
          border-radius: 50%;
          position: absolute;
          clip: rect(0px, 294px, 294px, 147px); /*third param is Bottom - modify it*/
        }

        #ta_inner {
          background-color: #14213D;
          width: 276px;
          height: 276px;
          border-radius: 50%;
          position: absolute;
          top: 56px;
          left: 30px;
          z-index: 10;
        }

        #song_info {
          width: 341px;
          height: 171px;
          background-color: #CBD4C2;
          border-radius: 60px 60px 67px 67px;
          position: absolute;
          bottom: 0px;
        }

        .paused {
          animation-play-state: paused !important;
        }

        #progress_bar {
          height: 5px;
          width: 90%;
          margin: 4% auto;
          background-color: #e1e4e8;
          border-radius: 10px;
          position: relative;
          overflow: hidden;
        }

        #progress {
          background-color: #24292e;
          height: 5px;
          border-radius: 10px;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          transform-origin: left center;
        }

        @keyframes appear {
          from {
            opacity: 0;
            transform: scale(0.6);
          }
          to {
            opacity: 1;
            transform: scale(1);
          }
        }

        @keyframes progress {
          from {
            transform: scaleX(0);
          }
          to {
            transform: scaleX(1);
          }
        }
      
      div(id="player")
        div(id="timeline")
          div(id="timeline_base")
            div(id="tb_inner")
          div(id="timeline_animated")
            div(id="ta_inner")
            div(id="ta_left")
            div(id="ta_right")
          
        div(id="song_info")
