doctype html
html
  head
    title C9-LinkRs | Spotify
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style
      include ../public/css/music_player.css
  body
    div(id = "card" style = "background-image: url(" + image_link + ");")
      div(id = "image_block")
        a(href = spotify_link)
          div(id = "spotify_icon")
            include ../public/images/spotify.svg
      div(id = "info")
        div(id = "progress_bar")
          div(id = "current_time") #{progress}
          div(id = "total_time") #{duration}
          div(id = "fill" style = "width: " + progress_percentage + "%;")
        div(id = "artist")
          h2(id = "song_name") #{title}
          h3(id = "artist_name") #{artist}